<%
  meta = {
    title: 'about',
    desc: ''
  };
%>
<!DOCTYPE html>
<html lang="ja" class="pg-about">
  <head>
    <%- include('../_inc/_meta', {meta}) %>
  </head>
  <body>
    <%- include('../_inc/_header') %>
    <%- include('../_inc/_nav') %>
    <main class="main">

      <section class="pg-about_feature">
        <div class="pg-about_feature_inner inner">
          <div class="pg-about_feature_title">
            <p>about</p>
          </div>
          <div class="pg-about_feature_heading">
            <span>お客様、ステークホルダーの<br class="none_pc">方々との共創で</span><br><span>世の中の変革にチャレンジ<br class="none_pc">してまいります。</span>
          </div>
          <div class="pg-about_feature_read">
            <p>ネックスは１２年目に新たなステージに上がります。<br>私たちの夢は、変革の起こる「場」＝ネットワークコミュニティーを<br>グローバルでつくることです。<br>変革を推進したいという同じ価値観を持ったチャレンジャーたちが、自由な発想力で、<br>この「場」を起点に飛び立っていくこと。<br>たくさんの仲間たちが、融合し合い、世の中をもっともっと良くして行けたらと、、、<br>ネックスは確かな知見とアイデアで未来を切り開く可能性を引き出し、<br>皆様の「変革」へ向かう背中をぐっと押していく。<br>それが、ネックスの願いです。</p>
          </div>
          <div class="pg-about_feature_concept">
            <div class="pg-about_feature_concept_block pg-about_feature_concept_block_vision">
              <div class="pg-about_feature_concept_inner">
                <div class="pg-about_feature_concept_title"><p>vision</p></div>
                <p class="pg-about_feature_concept_read">すべての人が多様性を発揮し、<br>互いの背中を押し合い、<br>共創できる社会</p>
                <div class="pg-about_feature_concept_circle"><svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><circle cx="100" cy="100" r="98"/></svg></div>
              </div>
            </div>
            <div class="pg-about_feature_concept_block pg-about_feature_concept_block_mission">
              <div class="pg-about_feature_concept_inner">
                <div class="pg-about_feature_concept_title"><p>mission</p></div>
                <p class="pg-about_feature_concept_read">関わるすべての<br>人と会社が<br>持つ価値を再発見し、<br>的確にスポットライトを<br>当てる</p>
                <div class="pg-about_feature_concept_circle"><svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><circle cx="100" cy="100" r="98"/></svg></div>
              </div>
            </div>
            <div class="pg-about_feature_concept_block pg-about_feature_concept_block_value">
              <div class="pg-about_feature_concept_inner">
                <div class="pg-about_feature_concept_title"><p>value</p></div>
                <p class="pg-about_feature_concept_read">デザイン思考で<br>変革を推進する</p>
                <div class="pg-about_feature_concept_circle"><svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><circle cx="100" cy="100" r="98"/></svg></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="pg-about_data">
        <div class="pg-about_data_inner inner">
          <div class="pg-about_data_header">
            <p class="pg-about_data_header_en">corporate data</p>
            <p class="pg-about_data_header_jp">企業情報</p>
          </div>
          <ul class="pg-about_data_body">
            <li class="pg-about_data_body_list">
              <div class="pg-about_data_body_head">
                <p>会社名</p>
              </div>
              <div class="pg-about_data_body_detail">
                <p>Nex communications</p>
              </div>
            </li>
            <li class="pg-about_data_body_list">
              <div class="pg-about_data_body_head">
                <p>設立</p>
              </div>
              <div class="pg-about_data_body_detail">
                <p>2010年4月12日</p>
              </div>
            </li>
            <li class="pg-about_data_body_list">
              <div class="pg-about_data_body_head">
                <p>本社所在地</p>
              </div>
              <div class="pg-about_data_body_detail">
                <p>〒103-0015　東京都中央区日本橋箱崎町21-6-201</p>
              </div>
            </li>
            <li class="pg-about_data_body_list">
              <div class="pg-about_data_body_head">
                <p>代表者</p>
              </div>
              <div class="pg-about_data_body_detail">
                <p>露木 宏</p>
              </div>
            </li>
            <li class="pg-about_data_body_list">
              <div class="pg-about_data_body_head">
                <p>事業内容</p>
              </div>
              <div class="pg-about_data_body_detail">
                <p>・マーケティングコンサル事業</p>
                <p>・ブランディング事業</p>
                <p>・コミュニティ企画運営事業</p>
              </div>
            </li>
          </ul>
        </div>
      </section>

    </main>
    <%- include('../_inc/_talk') %>
    <%- include('../_inc/_footer') %>
    <script src="/assets/js/main.js"></script>
  </body>
</html>